/* app.css */
body {
  margin: 0;
  padding: 0;
  background: #00416A; /* Fallback for older browsers */
  background: -webkit-linear-gradient(to right, #E4E5E6, #00416A); /* For older WebKit browsers */
  background: linear-gradient(to right, #E4E5E6, #00416A); /* Standard modern browsers */
  font-family: sans-serif;
  min-height: 100vh;
}